@charset "UTF-8";
#header-wrap {
	z-index: 10;
}

#main-slide-wrap {
	z-index: 5;
	height: 100%;
}

#main-by-category-wrap ul {
	list-style: none;
}

#main-by-category-wrap ul li {
	float:left;
	display: inline-block;
}

#main-by-category-wrap ul li {
	height: 490px;
}

#main-by-category-wrap .first {
	width: 265px;
}

#main-by-category-wrap .second {
	width: 520px;
}

#main-by-category-wrap .third {
	width: 265px;
}

#main-by-category-wrap .pi-box {
	height: 245px;
}

.td-center {
	text-align: center;	
}

#main-best-product-table {
	width: 100%;
}

#main-best-product-element {
	width: 255px;
	margin: 50px auto 0px;						
}

#main-best-product-element thead img {
	width: 100%;						
}

#main-best-product-element thead td{
	padding: 0px;
}

#main-best-product-element tbody td {
	padding: 10px;
}

#main-best-review-table {
	width: 100%;
	margin-top: 50px;
	border-spacing: 0px;
	border: 0px;
}

#main-best-review-table tr:first-child td {
	border-top: 3px solid #222222;
}

#main-best-review-table td {
	padding: 10px;
	border-bottom: 1px solid #dddddd;
}

#main-best-review-table tr:last-child  td {
	border-bottom: 1px solid #222222;
}
