@charset "UTF-8";
#header-wrap {
	z-index: 10;
}

#main-slide-wrap {
	z-index: 5;
	height: 100%;
}

#main-by-category-wrap ul {
	list-style: none;
}

#main-by-category-wrap ul li {
	float:left;
	display: inline-block;
}

#main-by-category-wrap ul li {
	height: 490px;
}

#main-by-category-wrap .first {
	width: 265px;
}

#main-by-category-wrap .second {
	width: 520px;
}

#main-by-category-wrap .third {
	width: 265px;
}

#main-by-category-wrap .pi-box {
	height: 245px;
}

.td-center {
	text-align: center;	
}
