@charset "UTF-8";

/* login */

#login-form-wrap {
	background-image: url(${img_path}/login1_bg.gif);
	width: 564px;
	height: 253px;
	vertical-align: top;
	text-align: center;
	margin: auto;
}

#login-form-wrap #login-form-inner {
	padding: 42px 0px 0px 34px;
}

#login-form-wrap #login-form-inner input {
	outline: none;
	padding: 1px 2px;
}

#login-form-wrap #login-form-inner table {
	border: 0px;
	border-spacing: 0px;
}

#login-form-wrap #login-form-inner table td {
	padding: 0px;
}

#login-form-wrap #login-form-inner .login-input {
	width: 160px;
	height: 23px;
	border: 1px solid #e0e0e0;
}

/* login-search */

#login-search-table {
	margin: auto;
	width: 500px;
	border-spacing: 0px;
	border-radius: 10px;
	border: 1px solid gray;
}

#login-search-title {
	background-color: #222222;
	color: white;
}

#login-search-title td {
	padding: 5px;
	border-radius: 10px 10px 0px 0px;
	border: 1px solid #222222;
}

#login-search-info td {
	font-size: 14px;
	padding: 10px;
}

#login-search-form {
	background-color: #eeeeee;
}

#login-search-form>td {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	
}

#login-search-form td {
	padding: 5px;
}

#login-search-form input {
	padding: 1px 2px;
	outline: none;
	font-size: 15px;
}

#login-search-submit td{
	text-align: center;
}

#login-search-submit input[type=button] {
	margin: 10px;
	padding: 3px;
	font-size: 15px;
	outline: none;
}
